{% extends "app_base.html" %}
{% block content %}
<h3> Search </h3>
<form method="POST" action="search" style="max-width:400px; width:100%">

	<div class="form-group">
	  <label for="itemID">Item ID</label>
	  <input type="text" class="form-control" id="itemID" name="itemID" />
	</div>
	<div class="form-group">
	  <label for="category">Item Category</label>
	  <input type="text" name="category" class="form-control" id="category" />
	</div>
  <div class="form-group">
    <label for="description">Item Description</label>
    <input type="text" name="description" class="form-control" id="description" />
  </div>
	<div class="form-group">
	  <label for="price">Price</label>
	  <input type="number" name="price" class="form-control" id="price" min="0" step="0.01" />
	</div>
	<div class = "form-group">
		<input type="radio" name="status" value="open" checked> Open<br>
		<input type="radio" name="status" value="close"> Closed<br>
	</div>
	<div class="form-group"><input type="submit" value="Search!" class="btn btn-primary"/></div>
</form>
</center>
<h3>Result</h3>

<div class="alert alert-danger">Output:</div>
<table class="table table-responsive">
<thead>
<TR>
	<th>itemID</th>
	<th>Name</th>
	<th>Category</th>
	<th>Current Price</th>
	<th>Ending Time</th>
</TR>
</thead>
<tbody>
{%for item in search%}
<TR>
	<TD> {{item.itemID}} </TD>
	<TD> {{item.name}} </TD>
	<TD> {{item.category}} </TD>
	<TD> {{item.currently}} </TD>
	<TD> {{item.ends}} </TD>
</TR>
</tbody>
{% endfor %}
</table>

<p>Test paragraph that are group rocks!</p>

{% endblock %}
